.nav-bar{
    width: 100%;
    height: 62px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.navbar-header{
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control{
    height: 40px;
    width: 100%;
    display: inline-block;
    margin-left: 16px;
    padding-left: 28px;
}
.form-control + span{
    position: absolute;
    top: 12px;
    left: 24px;
    font-size: 1.25em;
    color: #37a000;
}
.form-group{
    position: relative;
    display: flex;
    align-items: center;
    width: 42%;
    margin-bottom: 0;
}
.form-control::placeholder{
    color: lightgray;
}
.btn-search{
    background-color: #37a000;
    color: #f2f2f2;
    width: 100px;
    height: 40px;
    margin-left: 16px;
}
.navbar-nav{
    display: inline-block;
}
.navbar-nav li{
    display: inline-block;
    position: relative;
    padding-right: 12px
}
.navbar-nav svg{
    margin-left: 16px;
}
.label{
    background-color: #ea7600;
    color: #f2f2f2;
    border-radius: 16px;
    padding: 1px 5px;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 4px;
}
.navbar-base{
    padding-left: 24px;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
}
.navbar-base h3{
    font-size: 22px;
    font-family: 'Open sans';
    font-weight: 700;
}
.navbar-base-button-wrapper{
    display: flex;
    padding-right: 24px;
}
.navbar-base-button-wrapper a{
    margin-left: 8px;
    width: 121px;
    font-size: 14px;
    font-family: 'Open sans';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px 6px 6px;
}
.navbar-base-button-wrapper a:hover{
    background-color: #50586323;
    border-radius: 4px;
}
.navbar-base-navbar{
    padding-left: 24px;
    padding-bottom: 4px;
    padding-right: 24px;
    display: flex;
    border-bottom: 1px solid #50586323;
}
.navbar-base-navbar h5{
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding-left: 4px;
    padding-right: 16px;
    border: 1px solid transparent;
}
.navbar-base-navbar h5:hover{
    border: 1px solid #50586323;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px lightgray;
    border-radius: 2px;
    cursor: pointer;
}
.navbar-base-navbar h5 svg{
    margin-right: 8px;
}
.content{
    display: flex;
    min-height: 64vh;
    padding-top: 14px;
    margin-bottom: 32px;
    /* background-color: red; */
}
.main-content{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}
.dismissable-notification{
    background-color: #e6f8ff;
    width: 100%;
    height: 48px;
    border: 1px solid #dee0e32c;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
}
.dismissable-notification:hover{
    box-shadow: 2px 2px 8px rgb(197, 197, 197);
    transition: all 300ms ease-in-out;
}
.dismissable-notification a{
    color: #1861bf;
    font-weight: 700;
    margin-left: 8px;
}
.dismissable-notification + h3{
    font-size: 24px;
    font-weight: 700;
}
.dismissable-notification + h3 + h5{
    font-size: 14.2px;
    font-family: 'Open sans';
    margin-top: 8px;
}
.dismissable-notification + h3 + h5 span{
    color: #1861bf;
    font-weight: 700;
}
.content .user-bio{
    width: 360px;
    padding-left: 24px;
}
.bio-wrapper{
    width: 319px;
    border: 1px solid #50586323;
    border-radius: 4px 4px 0 0;
    min-height: 20vh;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 24px;
}
.bio-wrapper2{
    width: 319px;
    border: 1px solid #50586323;
    border-top: none;
    border-radius: 0 0 0 0;
    min-height: 20vh;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 0px;
}
.bio-wrapper2 h5{
    font-family: 'Open sans';
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 12px;
}
.bio-wrapper2 h5:nth-child(1){
    font-family: 'Open sans';
    font-size: 15px;
    font-weight: 700
}
.bio-wrapper2 h5:nth-child(2){
    font-family: 'Open sans';
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 4px;
    font-weight: 400
}
.bio-wrapper2 h5:last-child span{
    font-family: 'Open sans';
    font-size: 15px;
    font-weight: 700;
    color: #1861bf;
    margin-left: 8px
}
.bio-wrapper2 #progress-bar{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.bio-wrapper2 #progress-bar span{
    width: 58px;
    height: 8px;
    border: 1px solid #dee0e3;
    background-color: #dee0e3;
    /* margin-right: 8px; */
}
.bio-wrapper2 #progress-bar span.active{
    border: 1px solid #dee0e3;
    background-color: rgb(37, 161, 161)
}
.bio-wrapper2 #progress-bar span:nth-child(1){
    border-radius: 8px 0 0 8px;
}
.bio-wrapper2 #progress-bar span:nth-child(4){
    border-radius: 0 8px 8px 0;
}
.bio-wrapper2 button{
    font-size: 13px;
    border: 1px solid #50586323;
    margin-bottom: 16px;
    margin-top: 12px;
}
.bio-wrapper h5{
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 18px;
    margin-top: 12px;
}
.bio-wrapper h6{
    font-size: 14.5px;
    margin-top: 8px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.bio-wrapper h6 span{
    color: #1861bf;
}
#board-container{
    list-style: none;
    margin-top: 16px;
    height: calc(100vh - 50vh - 36px);
    padding-left: 0;
    position: relative;
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
}
#board{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 16px;
    height: calc(100vh - 50vh - 36px);
    overflow-y: scroll;
    padding-left: 0;
    position: relative;
}
#board li{
    width: 100%;
    height: 75px;
    border: 1px solid #dee0e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    padding-bottom: 8px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 24px;
}
#board li:hover{
    box-shadow: 3px 0 12px lightgray;
}
#board li div{
    width: 87%;
    display: flex;
}
#board li div #space-description{
    padding-left: 16px;
    padding-right: 2px;
    width: 100%;
}
#board li #space-description h5{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open sans';
    position: relative;
    margin: 0
}
#board li span h5 span{
    position: absolute;
    right: 0;
    top: 4px;
}
#board li #space-description h6{
    font-size: 13.5px;
    font-family: 'Open sans';
    font-weight: 500;
    color: #0a08089f;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-left: 0 !important;
}
#board li #space-description h6 span{
    padding: 0;
    font-size: 12px;
    font-weight: 700;
}
#board li span p{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}
#job-position{
    white-space: nowrap;
    width: 72%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ************************************* */
#chat-container{
    width: 275px;
    height: 48px;
    /* box-shadow: 3px 0px 12px #aaaaaa; */
    border-radius: 12px 12px 0 0 !important;
    background-color: #e6e6e6;
    position: fixed;
    right: 290px;
    bottom: 0px;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}
#chat-container2{
    width: 275px;
    height: 400px;
    box-shadow: 3px 0px 12px #aaaaaa;
    background-color: #fff;
    position: fixed;
    right: calc(40px + 275px + 24px + 32px);
    bottom: calc(48px - 400px);
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}
.show-full-chat-container{
    bottom: 0 !important;
}
#chat-container2 div.topbar{
    background-color: #000000;
    height: 48px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open sans' !important;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
#chat-container div.topbar div,
#chat-container2 div.topbar div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#chat-list{
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 16px;
    margin-right: 8px;
    height: calc(400px - 48px - 16px - 48px);
    overflow-y: scroll;
}
#messagebox-wrapper{
    position: absolute;
    bottom: -16px;
    left: 0;
    padding-right: 8px;
    padding-left: 8px;
}
#messagebox-wrapper input{
    height: 38px;
}
#messagebox-wrapper input::placeholder{
    font-size: 13px;
}
#chat-list li{
    display: flex;
    background-color: #fafafa;
    min-height: 30px;
    border-radius: 0 8px 8px 8px;
    border: 1px solid #8f949b23;
    width: 75%;
    color: #0f4068;
    font-size: 13.5px;
    font-family: 'Open sans';
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 8px;
}
#sender{
    float: right;
    background-color: #38a00021 !important;
}
#receiver{
    float: left;
    background-color: #fafafa !important;
}
#chat-container div.topbar{
    background-color: #18e2e9;
    height: 110px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-family: 'Open sans' !important;
    margin-bottom: 8px;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px 12px 0 0;
    background: radial-gradient(#26A69A9d, #26A69Ad3), url("./img/background-2.ce3907be.png")
}
.chat-content{
    width: 250px;
    height: 55vh;
    border-radius: 8px;
    box-shadow: 2px 2px 6px gray;
    position: absolute;
    left: calc(25px / 2);
    top: calc(90px);
    background-color: #ffffff;
    background: radial-gradient(#d8d8d850, #d3d3d3b9), url("./img/chat-bg.png")
}
/* ************************************* */




.toggle-chat-container{
    height: 450px !important;
    transition: all 300ms ease-in-out;
}
.toggle-arrow2{
    margin-right: 48px !important;
}
.chat{
    display: flex;
    margin-bottom: 0px;
    position: relative;
    padding-top: 6px;
    padding-bottom: 0px;
    background-color: #ffffff85;
    cursor: pointer;
}
.chat:hover{
    box-shadow: 1px 0px 4px #50586323;
}
.chat span img{
    width: 40px;
    height: 40px;
    border: 1px solid #50586323;
    border-radius: 40px;
    box-shadow: 3px 3px 8px lightgray;
    margin-left: 8px;
}
.chat div{
    padding-left: 12px;
    padding-bottom: 6px;
    border-bottom: 1.5px solid #50586338;
    width: 100%;
}
.chat div h6{
    /* background-color: #fff; */
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 0;
}
.chat div p{
    /* background-color: #fff; */
    font-size: 12.5px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat div #label{
    background-color: #ea7600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 11px;
    width: 18px;
    height: 18px;
    font-weight: 300;
    position: absolute;
    right: 16px;
    top: 8px;
    border-radius: 16px;
}
.drop-and-upload-image{
    background-color: #0f4068;
    width: 100%;
    height: 54vh;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-container{
    width: 90%;
    height: 48vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.inner-topbar{
    border-bottom: 2px solid #0f4068;
    height: 42px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.inner-topbar h5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
}
.inner-topbar h5.active{
    background-color: #1861bf;
    color: #dee0e3;
}
.inner-topbar h5.active span:nth-child(1){
    font-size: 24px;
    color: #f0861b;
}
.inner-topbar h5 span:nth-child(1){
    font-size: 24px;
}
.inner-topbar h5 span:nth-child(2){
    font-size: 11px;
    font-family: 'Open sans';
    font-weight: 700;
}
.inner-container .drop-zone{
    width: 88%;
    height: 32vh;
    border: 2px dashed #0f406873;
    margin: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drop-zone h5{
    color: #0f4068;
    font-family: 'Open sans';
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 36px;
}
.snapshot-container{
    position: relative;
}
.snapshot-container button{
    position: absolute;
    left: 0;
    top: 0;
    color: #dee0e3;
}
.snapshot-frame{
    width: 50%;
    height: 52vh;
    position: fixed;
    top: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 8px gray;
    display: none;
}
.show-snapshot-frame{
    display: block;
}
.resume-upload-reader{
    min-width: 25%;
    min-height: 60px;
    background-color: #e6f8ff;
    box-shadow: 3px 3px 8px gray;
    position: absolute;
    right: 4%;
    top: 12vh;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
}
.resume-upload-reader div{
    height: 8px;
    background-color: #ffffff;
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 4px;
    border-radius: 12px;
    border: 1px solid #dee0e3;
    display: flex;
    align-items: center;
}
.resume-upload-reader div span{
    height: 4px;
    width: 10px;
    background-color: #37a000;
    border-radius: 12px;
    margin-left: 0;
    transition: all 500ms ease-in-out;
}
.resume-upload-reader button{
    margin-left: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 12px;
    background-color: #0a08089f;
    color: #ffffff;
    width: 36%;
}
.resume-upload-reader:hover div span{
    width: 100%;
    transition: all 500ms ease-in-out;
}
.thread-load{
    width: 100% !important;
    transition: all 500ms ease-in-out;
}
#close-current-chat{
    position: absolute;
    top: 12px;
    right: 8px;
    font-size: 24px;
    color: #f2f2f2;
}
#user-bio-close-btn{
    display: none;
}
.vacancy-overlay-container{
    width: 100%;
    height: 100vh;
    background-color: #0000009c;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.vacancy-overlay{
    width: 70%;
    height: 85vh;
    background-color: #fff;
    border: 1px solid gray;
    padding: 16px;
    display: flex;
    position: relative;
}
#job-description{
    text-align: justify;
    height: 18vh;
    overflow-y: scroll;
    padding-right: 16px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.period-and-duration{
    display: flex;
    justify-content: space-between;
}
.period-and-duration span h5{
    font-size: 14px;
    margin-top: 12px;
    font-weight: 700;
    font-family: 'Open sans'
}
.period-and-duration span h6{
    font-size: 14px;
    margin-top: 0px;
    color: #777777;
}
.vacancy-details-container{
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
    padding-right: 16px;
    padding-left: 16px;
}
.show-vacancy-details{
    display: flex !important;
}
#cmp_name{
    font-family: 'Open sans';
    display: flex;
    align-items: center;
    font-weight: 700;
}
#cmp_name img{
    margin-right: 8px;
}
#cmp_position{
    font-family: 'Open sans';
    margin-top: 16px;
    font-size: 16px;
    color: #222222;
}
#posted_at{
    margin-top: 16px;
}
#allowance{
    font-size: 15px;
    color: #000000;
    font-family: 'Open sans';
    margin-top: 8px;
    font-weight: 700;
}
#allowance + h6{
    color: #555555;
}
#job-position-loader-container{
    margin: auto;
}
#job-position-loader{
    width: 24px;
    height: 24px;
    /* background-color: #000000; */
    border-left: 2px solid #5f7068;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-bottom: 4px;
    animation-name: job-position-loader;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
@keyframes job-position-loader{
    from{
        transform: rotate(0deg)
    }to{
        transform: rotate(360deg)
    }
}
#job-position-loader + i{
    display: block;
    text-align: center;
    animation: 2000ms grow-and-shrink-text infinite;
    font-style: normal;
    font-family: 'Open sans';
    height: 25px;
}
@keyframes grow-and-shrink-text{
    0%{
        font-size: 15px;
        color: lightgray;
    }25%{
        font-size: 15.5px;
        color: gray;
    }50%{
        font-size: 16px;
        color: #444444;
    }75%{
        font-size: 15.5px;
        color: gray;
    }100%{
        font-size: 15px;
        color: lightgray;
    }
}
#registered_applicant{
    position: absolute;
    right: 48px;
}
.post-job-overlay-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000009c;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}
.post-job-overlay{
    width: 90%;
    height: 84vh;
    background-color: #ffffff;
    border-radius: 8px;
    padding-top: 18px;
}
.post-job-overlay h5{
    text-align: center;
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 17px;
    margin-top: 16px;
    margin-bottom: 16px;
}













@media screen and (max-width: 500px){
    .navbar-header img{
        width: 42%;
    }
    .navbar-header .form-group{
        display: none;
    }
    .content{
        flex-direction: column;
        position: relative;
        margin-bottom: 64px;
    }
    .user-bio{
        width: 100% !important;
        display: none;
        padding-left: 0 !important;
        margin-bottom: 16px;
    }
    #user-bio-close-btn{
        position: absolute;
        right: 48px;
        top: 32px;
        font-size: 24px;
        display: block;
    }
    .show-bio-box{
        display: block;
    }
    #chat-container{box-shadow: none;border: 1px solid lightgray;}
    #chat-container2{
        width: 275px;
        height: 400px;
        box-shadow: none;border: 1px solid lightgray;
        background-color: #fff;
        position: fixed;
        right: calc(40px);
        bottom: calc(48px - 400px);
        border-radius: 4px;
        transition: all 300ms ease-in-out;
    }
    .navbar-base{
        flex-direction: column
    }
    .navbar-base h3{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .dismissable-notification span{
        font-size: 15px;
        display: flex;
        flex-direction: column
    }
    .dismissable-notification span a{
        margin-left: 0;
    }
    #board li{
        padding-right: 8px;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        margin: 12px auto 12px auto;
        width: 95%;
    }
    #board li div{
        flex-direction: column;
        align-items: center;
    }
    #space-description h5{
        text-align: center;
    }
    #job-position{
        white-space: nowrap;
        width: 100%;
        text-align: left !important;
        line-height: 18px;
        margin-top: 6px;
    }
    #board li div img{
        /* width: 40px !important; */
        margin-left: 16px;
    }
    #board li div #span{
        padding-left: 4px;
        margin-top: 8px;
    }
    #board li div #span h6{
        flex-direction: column;
    }
    #board li div #span h6 span:nth-child(1){
        color: #f10000;
        margin-bottom: 4px;
    }
    /* #board li div #span h6 span:nth-child(1){
        color: #f10000;
    } */
    #board li span h5 span {
        top: -36px;
    }
    #board li div h5{
        font-size: 14px;
    }
    #board li button{
        font-size: 14px;
        background-color: #fff;
        margin-top: 12px;
        color: #37a000;
        margin-bottom: 8px;
        margin-left: 16px;
    }
    .snapshot-frame{
        width: 100%;
    }
    .vacancy-overlay{
        width: 88%;
        height: 74vh;
        box-shadow: 2px 2px 6px #666666;
        border-radius: 6px;
    }
    .vacancy-details-container{
        padding-left: 8px;
        padding-right: 8px;
    }
}